html,body{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
}
.navbar{
    margin: 0;
    padding: 0;
    top:0;
    position:sticky;
}
.menunav{
    display: block;
    background-color: rgba(15, 24, 106, 0.8);
    margin: auto;
    text-align: right;
}
li{
    list-style: none;
    display: inline-block;
    padding: 1em 0;

}
.list{
    float: left;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
li a{
    text-decoration: none;
    color:white;
    font-weight: 500;
    padding: 1em 1.5em;
}
li a:hover{
    background-color: white;
    color: rgb(71, 81, 167);
    box-shadow: 1px 3px 1px rgba(28, 46, 93, 0.716) ;
    border-radius: 2%;
    transition: 0.5s ease-in-out;
}
.landing{
    height: 100vh;
    background-image: url('1.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.welcome{
    margin: 0;
    width: 100%;
    top: 45%;
    font-size:22px;
    text-align: center;
    color: white;
    transform: scale(.8);
    position: absolute;
}
#about{
    width: 100%;
    height: auto;
}
.gambar1{
    height:10em;
    float: left;
    border-radius: 50%;
    box-shadow: inset 1px 3px 5px rgba(204, 215, 220, 0.733), 0 0 2px rgb(230, 250, 255);
    margin: 0 5em 0 2em;
}
.gambar2{
    height:10em;
    width:10em;
    float: left;
    border-radius: 50%;
    box-shadow: inset 1px 3px 5px rgba(204, 215, 220, 0.733), 0 0 2px rgb(230, 250, 255);
    margin: 0 5em 0 2em;
}
.tentang, .akademik, .mycv{
    text-align: left;
    top:50%;
    padding: 2em 10em;
    display: block;
    width:50%
}
#karya{
    height:100vh;
    padding: 2em 2em;
    background-color: rgb(190, 190, 190);
}
#contact{
    height: auto;
    min-height:50vh;
    padding: 2em 2em;
    justify-content: center;
}
#form1{
    padding: 5em 25em;
}
#nama,#email{
    width: 30em;
    height:1em;
    padding: 1em 1em;
    margin:1em 0;
    border:1px solid rgb(2, 35, 50);
    border-radius: 10px;
}
#pesan{
    width: 30em;
    height: 8em;
    padding: 1em 1em;
    border:1px solid rgb(2, 35, 50);
    margin: 1em 0;
    border-radius: 5px;
}
#nama:focus,#email:focus,#pesan:focus{
    box-shadow: 1px 1px 4px rgb(16, 132, 168);
    
}
.topscrol{
    font-size: 15px;
    background-color:rgba(15, 24, 106, 0.8) ;
    padding: 1em 1em;
    margin:3px 0;
    border-radius:30%;
    float: right;
}
#footer{
    height: 10vh;
    background-color: rgb(14, 89, 159);
    text-align: center;
}
@media screen and (min-width:701px) and (max-width:1200px) {
    .desktop{
        text-align: center;
    }
    #about{
        margin: 0;
    }
    .tentang, .akademik, .mycv{
        padding: 3em 2em;
        text-align: left;
        width:40em;
        margin:0 auto;
    }
    #contact{
        padding: 0;
        margin:0;
    }
    #form1{
        padding: 6em 5em;
    }
    #nama,#email,#pesan{
        padding: 1em;
        margin:0;
        height:1em;
        width: 25em;
    }
}
@media only screen and (max-width:700px) {
    .desktop{
        display: none;
    }
    li{
        display: inline-block;
        text-align: left;
    }
    .tentang, .akademik, .mycv{
        padding: 3em 5em;
        text-align: left;
    }
    #about{
        padding: 3em 0;
    }
    #karya{
        padding: 5em 1em;
    }
    #contact{
        padding:3em 0;
        margin:0;
    }
    #form1{
        padding: 3em 5em;
    }
    #nama,#email,#pesan{
        padding: 1em;
        margin:0;
        height:1em;
        width: 15em;
    }
}

